@font-face{
    font-family: 'NanumB';
    src: url('fonts/NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'NanumS';
    src: url('fonts/NanumSquareRoundB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    scroll-behavior: smooth;
    overflow: scroll;
}

/* Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--pokemoncolor, #1288f8);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lightpokemoncolor, #00d6fa);
}

/* Down-right corner color */
::-webkit-scrollbar-corner {
    background: #f2f2f2;
  }  

body {
    font-family: 'NanumS', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

h1{
    float: left;
    margin-left: 20px;
    height: auto;
    font-size: 28px;
    margin-block-end: 10px;
}

h2{
    font-family: 'NanumB', sans-serif;
    margin-block-end: 10px;
}

h3{
    font-family: 'NanumB', sans-serif;
    font-size: 21px;
    margin-block: 13px;
    margin-top: 0px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

p{
    margin-block-start: 0px;
    margin-block-end: 10px;
}

footer p{
    margin-block-start: 10px;
}

/* Top Nav (search bar)*/
.topnav {
    font-family: 'NanumB', sans-serif;
    overflow: visible;
}
  
.topnav .search-container {
    float: right;
    margin-top: 25px;
    position: relative;
}

.topnav input[type=text] {
    font-family: 'NanumS', sans-serif;
    padding: 6px;
    font-size: 17px;
    border: none;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}
  
#searchInput, #moveName, #itemName {
    width: 255px;
}

#searchButton, #moveSearchButton, #itemSearchButton, #microphone{
    margin-right: 5px;
}

.topnav .search-container button {
    width: 32px;
    float: right;
    padding: 6px 0px;
    margin-right: 13px;
    background: var(--pokemoncolor, #1288f8);
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}
  
.topnav .search-container button:hover {
    background: var(--lightpokemoncolor, #00d6fa);
}  

#pokemonDropdown {
    font-family: 'NanumS', sans-serif;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    max-height: 190px;
    overflow-y: auto;
    z-index: 3;
    top: 100%; /* Position the dropdown below the search input */
    width: 267px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}

#pokemonDropdown div{
    padding: 10px;
    cursor: pointer;
}

#pokemonDropdown div.active {
    background-color: #ddd;
}

#clearButton {
    position: absolute;
    top: 50%;
    right: 32%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;

    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 20px;
    background-color: transparent;
    border: none;
    color: #333;
}

#clearButton:hover {
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 50%; /* Make it a circle */
    transition: background-color 0.3s ease;
}

#clearButton:active {
    background-color: rgba(169, 169, 169, 0.7);
    transition: background-color 0.3s ease;
}

/* Github Button */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #e2e2e2;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn.btn-github {
    background-color: #000000;
}

.btn.btn-github:hover {
    color: #fff;
}

/* Footer */
footer {
    background-color: var(--pokemoncolor, #1288f8);
    color: var(--text, white);
    text-align: left;
    margin-top: 15px;
}

footer a{
    color: var(--text, white);
    text-decoration: underline;
}

footer a:hover{
    color: var(--lightpokemoncolor, #00d6fa);
}

.footerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

#scrollTop{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* Main Body Display */
.information{
    display: table;
    margin: 20px;
    margin-top: 0px;
    width: 98%;
}

/*Webpage Layout*/
.set{
    display:contents;
}

.container1,
.container2,
.container3{
    display: table-cell;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.container1{
    width: 30%;
}

.container2{
    width: 20%;
}

.container3{
    width: 50%;
}

.bioInfo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.bioInfoBlock{
    display: inline-block; 
    margin-right: 10px;
}

#pokemonInfo {
    display: table-cell;
    width: fit-content;
    line-height: 1.5;
    padding-right: 10px;
}

audio {
    width: 300px;
    height: 35px;
    margin: 5px auto 10px 0px;
    display: block;
}

/* Optional: Style the audio controls */
audio::-webkit-media-controls-panel {
    background-color: #e2e2e2;
}

#typeAbility, #evolution{
    line-height: 1.5;
    padding-right: 10px;
}

#spriteSettings{
    display: block;
}

#cbx_sprite{
    display: inline-block;
}

#chooseSprite,
#chooseItemSprite {
    display: none;
    margin-right: 12px;
}

#chooseItemSprite{
    padding-left: 10px;
}

/*Dropdown Box*/
#spriteType,
#itemSpriteType {
    padding: 4px;    
    background: #fff;
    color: #000;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'NanumB', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 6px;
    overflow: hidden;

    transition: height .4s ease;
}

/* Dropdown Menu Design */
#spriteType option,
#itemSpriteType option {
    font-family: 'NanumS', sans-serif;
    font-size: 12px;
}  

#levelContainer{
    display: none;
    align-items: center;
    margin-bottom: 10px;
}

#numberContainer {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 53px;
}

#scrollBarContainer {
    display: inline-block;
    margin-left: 10px;
}

input[type='range'] {
    appearance: none;
    width: 190px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
    background: var(--pokemoncolor, #1288f8);
    box-shadow: -195px 0 0 185px var(--pokemoncolor, #1288f8);
}

input[type='range']::-webkit-slider-thumb:hover{
    background: var(--lightpokemoncolor, #00d6fa);
}

/* FireFox */
input[type="range"]::-moz-range-progress {
    background-color: var(--pokemoncolor, #1288f8); 
}

input[type="range"]::-moz-range-track {  
    background-color: #fff;
}
  
/* Histogram Design */
#statsHistogram{
    display: table-cell;
    width: fit-content;
}

.stat-bar {
    margin-bottom: 10px;
    position: relative;
    width: 255px;
}

.bar-label {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.left-part {
    text-align: left;
}

.right-part {
    text-align: right;
}

.bar-container {
    height: 20px;
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.bar {
    background-color: var(--pokemoncolor, #1288f8);
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
    border-radius: 10px;
}

#dfHead{
    display: none;
    margin-top: 12px;
}

#forms{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 255px;
}

#heldItems{
    margin-top: 12px;
    margin-bottom: 12px;
}

.held-items-container {
    position: relative;
}

/*Tooltip for types*/
.tooltip-types,
.tooltip-moves,
.tooltip-items,
.tooltip-pokemon,
.tooltip-ability {
    position: relative;
    display: inline-block;
}

.tooltip-types .tooltiptext,
.tooltip-moves .tooltiptext,
.tooltip-items .tooltiptext,
.tooltip-pokemon .tooltiptext,
.tooltip-ability .tooltiptext {
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 7px 5px 7px;
    white-space: nowrap;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 0%;
}

.tooltip-moves .tooltiptext{
    bottom: 120%;
    top: auto;
    left: 0%;
}

.tooltip-items .tooltiptext {
    top: 100%;
    left: 0%;
}

.tooltip-pokemon .tooltiptext {
    top: 20%;
    left: 110%;
}

.tooltip-ability .tooltiptext {
    top: 110%;
    left: 0%;
    width: 255px; 
    white-space: pre-line; 
    line-height: 1.4;
}

.tooltip-types .tooltiptext::after,
.tooltip-items .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 30%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
}

.tooltip-items .tooltiptext::after {
    left: 15%;
}

.tooltip-pokemon .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
}

.tooltip-moves .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
}

.tooltip-ability .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 5%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
}

.tooltip-types:hover .tooltiptext,
.tooltip-moves:hover .tooltiptext,
.tooltip-items:hover .tooltiptext,
.tooltip-pokemon:hover .tooltiptext,
.tooltip-ability:hover .tooltiptext {
    visibility: visible;
}

#pokedex{
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#speakButton{
    width: 30px;
    height: auto;
    margin-left: 7px;
}

#others{
    width: 90%;
    line-height: 1.5;
}

#psHead, #cpHead{
    display: none;
}

/* Checkbox and Text */
#filter_bst600 *, #filter_bst600 ::after, #filter_bst600 ::before,
#filter_mega *, #filter_mega ::after, #filter_mega ::before,
#filter_type *, #filter_type ::after, #filter_type ::before,
#filter_abilities *, #filter_abilities ::after, #filter_abilities ::before,
#filter_baseStat *, #filter_baseStat ::after, #filter_baseStat ::before,
#filter_shiny *, #filter_shiny ::after, #filter_shiny ::before,
#filter_female *, #filter_female ::after, #filter_female ::before,
#filter_shinyform *, #filter_shinyform ::after, #filter_shinyform ::before,
#filter_back *, #filter_back ::after, #filter_back ::before{
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 6px;
    margin-bottom: 3px;
}

/* Checkbox styles */
#filter_bst600 .cbx_bst600,
#filter_mega .cbx_mega,
#filter_type .cbx_type,
#filter_abilities .cbx_abilities,
#filter_baseStat .cbx_baseStat,
#filter_shiny .cbx_shiny,
#filter_female .cbx_female,
#filter_shinyform .cbx_shinyform,
#filter_back .cbx_back {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #606062;
    transition: all 0.15s ease;
}

/* Checkmark styles */
#filter_bst600 .cbx_bst600 svg,
#filter_mega .cbx_mega svg,
#filter_type .cbx_type svg,
#filter_abilities .cbx_abilities svg,
#filter_baseStat .cbx_baseStat svg,
#filter_shiny .cbx_shiny svg,
#filter_female .cbx_female svg,
#filter_shinyform .cbx_shinyform svg,
#filter_back .cbx_back svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
}

/* Container styles */
#filter_bst600,
#filter_mega,
#filter_type,
#filter_abilities,
#filter_baseStat,
#filter_shiny,
#filter_female ,
#filter_shinyform,
#filter_back {
    user-select: none;
    display: none;
    justify-content: space-between;
    align-items: center;
}

/* Label styles */
#filter_bst600 label,
#filter_mega label,
#filter_type label,
#filter_abilities label,
#filter_baseStat label,
#filter_shiny label,
#filter_female label,
#filter_shinyform label,
#filter_back label {
    display: inline-block;
    cursor: pointer;
}

/* Hide default checkboxes */
#filter_bst600 input[type="checkbox"],
#filter_mega input[type="checkbox"],
#filter_type input[type="checkbox"],
#filter_abilities input[type="checkbox"],
#filter_baseStat input[type="checkbox"],
#filter_shiny input[type="checkbox"],
#filter_female input[type="checkbox"],
#filter_shinyform input[type="checkbox"],
#filter_back input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

/* Checked state styles */
#filter_bst600 input[type="checkbox"]:checked + .cbx_bst600,
#filter_mega input[type="checkbox"]:checked + .cbx_mega,
#filter_type input[type="checkbox"]:checked + .cbx_type,
#filter_abilities input[type="checkbox"]:checked + .cbx_abilities,
#filter_baseStat input[type="checkbox"]:checked + .cbx_baseStat,
#filter_shiny input[type="checkbox"]:checked + .cbx_shiny,
#filter_female input[type="checkbox"]:checked + .cbx_female,
#filter_shinyform input[type="checkbox"]:checked + .cbx_shinyform,
#filter_back input[type="checkbox"]:checked + .cbx_back {
    background-color: var(--pokemoncolor, #1288f8);
}

/* Checked state animation */
#filter_bst600 input[type="checkbox"]:checked + .cbx_bst600 svg,
#filter_mega input[type="checkbox"]:checked + .cbx_mega svg,
#filter_type input[type="checkbox"]:checked + .cbx_type svg,
#filter_abilities input[type="checkbox"]:checked + .cbx_abilities svg,
#filter_baseStat input[type="checkbox"]:checked + .cbx_baseStat svg,
#filter_shiny input[type="checkbox"]:checked + .cbx_shiny svg,
#filter_female input[type="checkbox"]:checked + .cbx_female svg,
#filter_shinyform input[type="checkbox"]:checked + .cbx_shinyform svg,
#filter_back input[type="checkbox"]:checked + .cbx_back svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}

/* Button Layout */
#settingButton,
#updateButton,
#scrollUpButton,
#scrollDownButton,
#learnPokemon {
    background: #fff;
    color: #000;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    font-family: 'NanumB', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    position: relative;
    transition: transform .2s;
    margin-bottom: 10px;
    margin-right: 6px;
}

#settingButton:hover,
#updateButton:hover,
#scrollUpButton:hover,
#scrollDownButton:hover,
#learnPokemon:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2),0 3px 3px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

#settingButton:active,
#updateButton:active,
#scrollUpButton:active,
#scrollDownButton:active,
#learnPokemon:active {
    box-shadow: none;
    transform: translateY(0px);
}

/*Loading Bar*/
#progress-container {
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    height: 5px;
    position: relative;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--pokemoncolor, #1288f8);
    color: black;
    line-height: 30px;
    text-align: left;
    position: absolute;
}

/* Table design for counter pokemon */
#counterPokemon {
    display: table-row;
}

.tableContainer{
    overflow: scroll;
    width: 100%;
}

.table {
    border-collapse: collapse;
}

.table .thead{
    position: sticky;
    z-index: 1;
    top: 0;
}

.table th, .table td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: var(--pokemoncolor, #1288f8);
    color: var(--text, white);
}

.table img {
    max-width: 100%;
    height: auto;
}

/***************
 *  Move.html  *
 ***************/
#learnedByPokemon{
    display: none;
    height: 100%;
    overflow: auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
}

#foreignMoveName{
    margin-bottom: 15px;
}

#moveInfo, #moveInfo2, #moveMoreInfo, #moveTarget{
  display: none;
  margin-bottom: 20px;
}

#moveType{
    display: block;
    margin-bottom: 10px;
}

#effect {
    display: none;
    width: 100%;
}

.split-box {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
  
.left-half,
.right-half,
#left-half-effect {
    width: fit-content;
    padding: 15px 8px 15px 8px;
    box-sizing: border-box;
    height: 10px;
    display: flex;
    align-items: center;
}
  
.left-half,
#left-half-effect {
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;  
}
  
.right-half {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
}

.left-half p, #left-half-effect p, .right-half p,
.top-half p, .bottom-half p{
    margin-block-end: 0px;
    font-size: 14px;
}

.split-box2 {
    display: block;
    align-items: center;
    margin-right: 10px;
}

.top-half,
.bottom-half {
    height: fit-content;
    padding: 5px 16px 5px 16px;
    box-sizing: border-box;
    width: 10px; /* Change width to height */
    display: flex;
    justify-content: center; /* Align content to center vertically */
}

.top-half {
    background-color: black;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; /* Adjust border radius for top */
}

.bottom-half {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /* Adjust border radius for bottom */
}

.moveDetails, .learnGroup{
    display: table-cell;
    width: 40%;
    margin: 20px;
    padding: 10px;
    line-height: 1.5;
}

.moveDetails{
    vertical-align: top;
}

.moveDetails h2{
    margin-top: 0px;
}

.learnGroup{
    height: 600px;
}

.move, .range{
    display: table-cell;
    width: 50%;
}

.effects{
    display: inline-block;
    width: 100%;
}

.range{
    justify-content: space-around;
    align-items: center;
}

#moveTarget{
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-left: 50px;
}

#moveTargetInfo{
    margin-left: 50px;
}

.box {
    width: 70px;
    height: 70px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#box1, #box2, #box3, #box4, #box5, #box6 {
    background-color: #00d6fa;
}

#moveDetails h2{
    margin-block-start: 0px;
}

/****************
 *  index.html  *
 ****************/
.allCategories{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* CSS for category and content */
.category {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    margin: 10px 2.5%; 
    background-color: #e2e2e2;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
}
  
.category img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: white;
}

.category .content {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #e2e2e2;
    box-sizing: border-box;
    line-height: 1.5;
}

.category h2 {
    margin-top: 0;
}

.category:hover {
    transform: scale(1.05);    
}   

.category:active {
    transform: scale(1);    
}   

/***************
 *  Item.html  *
 ***************/
.itemInfo {
    display: table;
    padding: 10px;
    margin-top: 0px;
    width: 95%;
    line-height: 1.5;
}

#itemSprite{
    padding: 10px;
}

#itemSprite h2{
    margin-top: 0px;
}

#itemText {
    display: table-cell;
    width: 100%;
    margin-top: 20px;
}

#item {
    display: table-cell;
    width: 20%;
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: top;
}

#itemEffect {
    display: table-cell;
    width: 55%;
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: top;
}

#itemPokemon {
    display: table-cell;
    width: 25%;
    margin-bottom: 10px;
    padding: 10px;
}

#heldPokemon{
    display: table-cell;
}

/*Layout for Tablet and split screen*/
@media (min-width: 768px) and (max-width: 1024px) {
    .set{
        display: table;
        width: 100%;
        margin-bottom: 10px;
    }

    .container1,
    .container2{
        display: table-cell;
        width: 50%;
    }
    .container3{
        width: 100%;
    }
    .container3{
        display: table-row;
    }

    .moveDetails{
        display: table-cell;
        width: 100%;
    }

    .learnGroup{
        display: table-row;
        width: 100%;
        height: auto;
    }

    .move, .range{
        display: flow-root;
    }

    #moveTarget{
        margin-left: 0px;
    }
    
    #moveTargetInfo{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .itemInfo {
        display: table;
    }
    
    #item {
        display: table-cell;
        width: 40%;
    }

    #itemEffect {
        width: 60%;
    }
    
    #itemText {
        display: table-row;
        width: 100%;
    }
    
    #itemPokemon {
        display: table-row;
    }

    #heldPokemon{
        display: inline-block;
        margin-top: 10px;  
    }    
}

/* Layout for mobile */
@media (max-width: 767px) {
    h1{
        margin-block-end: 0px;
        font-size: 20px;
    }

    .topnav .search-container {
        margin-top: 10px;
    }

    .information{
        flex-direction: column;
        margin: 0px;
        padding: 10px;
        width: 95%;
    }

    .container1,
    .container2,
    .container3{
        display: table-row;
        width: 100%;
    }
    
    #pokemonInfo {
        display: table-row;
        width: fit-content;
    }

    #typeAbility, #evolution {
        margin-bottom: 10px;
    }
    
    #statsHistogram{
        display: table-row;
        width: fit-content;
    }
    
    #counterpokemon{
        display: table-row;
        width: fit-content;
    }
    
    #searchInput, #moveName, #itemName {
        width: 200px;
    }

    #pokemonDropdown{
        width: 212px;
    }

    #clearButton {
        right: 37%;
    }

    footer{
        margin-top: 25px;
        font-size: 12px;
    }

    .moveDetails{
        display: table-cell;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .learnGroup{
        display: table-row;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
    
    .move, .range{
        display: flow-root;
        width: 100%;
    }

    #moveTarget{
        margin-left: 0px;
    }
    
    #moveTargetInfo{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .allCategories{
        display: grid;
    }
    
    .category {
        display: block;
        margin-left: 20px;
        width: 80%;
    }
    
    .category img {
        height: 150px;
    }

    .itemInfo {
        display: table;
    }

    #chooseItemSprite{
        padding-left: 0px;
    }   
    
    #itemSprite{
        padding: 0px;
        padding-top: 10px;
    }

    #item, #itemEffect {
        display: table-row;
    }
    
    #itemText {
        display: table-row;
    }
    
    #itemPokemon {
        display: table-row;
    }

    #heldPokemon {
        display: inline-block;
        margin-top: 10px;  
    }
}