@font-face{
    font-family: 'NanumB';
    src: url('fonts/NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'NanumS';
    src: url('fonts/NanumSquareRoundB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    scroll-behavior: smooth;
    height: calc(100% - 3em);
    overflow-y: auto;
    width: 8px;
    height: 8px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: var(--pokemoncolor, #1288f8);  
    border-radius: 20px;
}

/* Scroll Bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lightpokemoncolor, #00d6fa);  
}

body {
    font-family: 'NanumS', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1{
    float: left;
    margin-left: 20px;
    height: auto;
}

h2{
    font-family: 'NanumB', sans-serif;
}

h3{
    font-family: 'NanumB', sans-serif;
    font-size: 1.3em;
    margin-block: 0.83em;
    margin-top: 0px;
    margin-bottom: 12px;
}

/* Top Nav (search bar)*/
.topnav {
    font-family: 'NanumB', sans-serif;
    overflow: hidden;
}
  
.topnav .search-container {
    float: right;
    margin-top: 20px;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--pokemoncolor, #1288f8);
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}
  
.topnav .search-container button:hover {
    background: var(--lightpokemoncolor, #00d6fa);
}  

/* Github Button */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #e2e2e2;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn.btn-github {
    background-color: #000000;
}

.btn.btn-github:hover {
    color: #fff;
}

/* Footer */
footer {
    background-color: var(--pokemoncolor, #1288f8);
    color: var(--text, white);
    text-align: left;
    padding: 15px;
}

footer a{
    color: var(--text, white);
}

footer a:hover{
    color: var(--lightpokemoncolor, #00d6fa);
}

/* Main Body Display */
.information{
    display: table;
    margin: 20px;
    margin-top: 0px;
    width: 95%;
}

#pokemonInfo {
    display: table-row;
    width: 25%;
    line-height: 1.5;
}

/* Histogram Design */
#statsHistogram{
    display: table-cell;
    width: 20%;
}

.stat-bar {
    margin-bottom: 10px;
    position: relative;
    width: 255px;
}

.bar-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.bar-container {
    height: 20px;
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.bar {
    background-color: var(--pokemoncolor, #1288f8);
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
    border-radius: 10px;
}

.container{
    display: table-cell;
    width: auto;
    flex-direction: column;
}

/* Checkbox and Text */
#filter *, #filter ::after, #filter ::before,
#filter2 *, #filter2 ::after, #filter2 ::before,
#filter3 *, #filter3 ::after, #filter3 ::before,
#filter4 *, #filter4 ::after, #filter4 ::before,
#filter5 *, #filter5 ::after, #filter5 ::before  {
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 6px;
}

/* Checkbox styles */
#filter .cbx,
#filter2 .cbx2,
#filter3 .cbx3,
#filter4 .cbx4,
#filter5 .cbx5 {
    position: relative;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #606062;
    transition: all 0.15s ease;
}

/* Checkmark styles */
#filter .cbx svg,
#filter2 .cbx2 svg,
#filter3 .cbx3 svg,
#filter4 .cbx4 svg,
#filter5 .cbx5 svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
}

/* Container styles */
#filter,
#filter2,
#filter3,
#filter4,
#filter5 {
    user-select: none;
    display: none;
    justify-content: space-between;
    align-items: center;
}

/* Label styles */
#filter label,
#filter2 label,
#filter3 label,
#filter4 label,
#filter5 label {
    display: inline-block;
    cursor: pointer;
}

/* Hide default checkboxes */
#filter input[type="checkbox"],
#filter2 input[type="checkbox"],
#filter3 input[type="checkbox"],
#filter4 input[type="checkbox"],
#filter5 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

/* Checked state styles */
#filter input[type="checkbox"]:checked + .cbx,
#filter2 input[type="checkbox"]:checked + .cbx2,
#filter3 input[type="checkbox"]:checked + .cbx3,
#filter4 input[type="checkbox"]:checked + .cbx4,
#filter5 input[type="checkbox"]:checked + .cbx5 {
    background-color: var(--pokemoncolor, #1288f8);
}

/* Checked state animation */
#filter input[type="checkbox"]:checked + .cbx svg,
#filter2 input[type="checkbox"]:checked + .cbx2 svg,
#filter3 input[type="checkbox"]:checked + .cbx3 svg,
#filter4 input[type="checkbox"]:checked + .cbx4 svg,
#filter5 input[type="checkbox"]:checked + .cbx5 svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}

/* Button Layout */
#updateButton {
    background: #fff;
    color: #000;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    font-family: 'NanumB', sans-serif;
    font-size: 12px;
    font-weight: 1000;
    padding: 6px;
    position: relative;
    transition: transform .2s;
}
#updateButton:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2),0 3px 3px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

#updateButton:active {
    box-shadow: none;
    transform: translateY(0px);
}

/* Table design for counter pokemon */
#counterPokemon {
    display: table-row;
}

.table {
    width: 100%;
    border-collapse: collapse;
    max-height: 600px;
    overflow: scroll;
}

.table th, .table td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: var(--pokemoncolor, #1288f8);
    color: var(--text, white);
    /* margin-top: 0px; */
}

.table img {
    max-width: 100%;
    height: auto;
}

/* Layout for mobile */
@media (max-width: 767px) {
    .information{
        flex-direction: column;
        margin: 10px;
        margin-top: 0px;
    }
    
    #pokemonInfo {
        display: table-row;
        width: fit-content;
    }
    
    #statsHistogram{
        display: table-row;
        width: fit-content;
    }
    #counterpokemon{
        display: table-row;
        width: fit-content;
    }
}