@font-face{
    font-family: 'NanumB';
    src: url('fonts/NanumBarunGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'NanumS';
    src: url('fonts/NanumSquareRoundB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    scroll-behavior: smooth;
    height: calc(100% - 3em);
    overflow-y: auto;
    width: 8px;
    height: 8px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: #1288F8;  
    border-radius: 20px;
}

/* Scroll Bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00d6fa;  
}


body {
    font-family: 'NanumS', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.topnav {
    font-family: 'NanumB', sans-serif;
    overflow: hidden;
}

h1{
    float: left;
    margin-left: 20px;
    height: auto;
}

h2{
    font-family: 'NanumB', sans-serif;
}
  
.topnav .search-container {
    float: right;
    margin-top: 20px;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #1288F8;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.topnav .search-container button:hover {
    background: #00d6fa;
}  

footer {
    background-color: #1288F8;
    color: white;
    text-align: left;
    padding: 15px;
}

footer a{
    color: white;
}

footer a:hover{
    color: #00d6fa
}

.information{
    display: table;
    margin: 20px;
    width: 95%;
}

#pokemonInfo {
    display: table-cell;
    width: 25%;
    line-height: 1.5;
}

#statsHistogram{
    display: table-cell;
    width: 20%;
}

#counterPokemon {
    width: 50%;
    /* Add any additional styling for the counterPokemon container */
    max-height: 600px;
    overflow: scroll;
}

/* Add your custom styling here */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    max-height: 600px;
    overflow: scroll;
}

.table th, .table td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table img {
    max-width: 100%;
    height: auto;
}

.stat-bar {
    margin-bottom: 10px;
    position: relative;
    width: 255px; /* Adjust the width as needed */
}

.bar-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.bar-container {
    height: 20px;
    background-color: white; /* Change the color as desired */
    position: relative;
    width: 100%;
}

.bar {
    background-color: #1288f8;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: #e2e2e2;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn.btn-github {
    background-color: #000000;
}

.btn.btn-github:hover {
    color: #fff;
}

@media (max-width: 767px) {
    .information{
        flex-direction: column;
        margin: 10px;
    }
    
    #pokemonInfo {
        display: table-row;
        width: fit-content;
    }
    
    #statsHistogram{
        display: table-row;
        width: fit-content;
        /* align-items: start; */
    }
    #counterpokemon{
        display: table-row;
        width: fit-content;
        /* align-items: start; */
    }
}